In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.preprocessing import (
    OneHotEncoder ,
    OrdinalEncoder ,
    MinMaxScaler ,

)

In [5]:
df = pd.read_csv("covid_toy.csv")

In [6]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [8]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [10]:
x = df.drop(columns=["has_covid"])
y = df["has_covid"]

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2)

In [15]:
x_train

    age  gender  fever   cough       city
33   26  Female   98.0    Mild    Kolkata
5    84  Female    NaN    Mild  Bangalore
11   65  Female   98.0    Mild     Mumbai
68   54  Female  104.0  Strong    Kolkata
81   65    Male   99.0    Mild      Delhi
..  ...     ...    ...     ...        ...
96   51  Female  101.0  Strong    Kolkata
91   38    Male    NaN    Mild      Delhi
30   15    Male  101.0    Mild      Delhi
50   19    Male  101.0    Mild      Delhi
62   56  Female  104.0  Strong  Bangalore

[80 rows x 5 columns]

In [16]:
x_test

    age  gender  fever   cough       city
98    5  Female   98.0  Strong     Mumbai
21   73    Male   98.0    Mild  Bangalore
26   19  Female  100.0    Mild    Kolkata
60   24  Female  102.0  Strong  Bangalore
49   44    Male  104.0    Mild     Mumbai
42   27    Male  100.0    Mild      Delhi
82   24    Male   98.0    Mild    Kolkata
39   50  Female  103.0    Mild    Kolkata
15   70    Male  103.0  Strong    Kolkata
64   42    Male  104.0    Mild     Mumbai
90   59  Female   99.0  Strong      Delhi
77    8  Female  101.0    Mild    Kolkata
83   17  Female  104.0    Mild    Kolkata
20   12    Male   98.0  Strong  Bangalore
58   23    Male   98.0  Strong     Mumbai
55   81  Female  101.0    Mild     Mumbai
12   25  Female   99.0  Strong    Kolkata
19   42  Female    NaN  Strong  Bangalore
88    5  Female  100.0    Mild    Kolkata
73   34    Male   98.0  Strong    Kolkata

# Column Transformer

In [18]:
from sklearn.compose import ColumnTransformer

In [20]:
transformer = ColumnTransformer(transformers=[
    ('tnf1' , MinMaxScaler() , ['fever']),
    ('tnf2' , OrdinalEncoder(categories=[['Mild' , 'Strong']]) , ['cough']) ,
    ('tnf3' , OneHotEncoder(sparse_output=False , drop="first") , ['gender' , 'city'])
] , remainder="passthrough")

In [21]:
transformer.fit_transform(x_train)

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        , 26.        ],
       [        nan,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , 84.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        , 65.        ],
       [ 1.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        , 54.        ],
       [ 0.16666667,  0.        ,  1.        ,  1.        ,  0.        ,
         0.        , 65.        ],
       [ 0.83333333,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        , 46.        ],
       [ 1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ,  6.        ],
       [ 0.5       ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        , 64.        ],
       [ 0.16666667,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        , 72.        ],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        , 25.        ],
       [ 0.5       ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , 38.        ],
       [ 0.66666667,  1.        ,  1.        ,  1.        ,  0.        ,
         0.        , 20.        ],
       [ 0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        , 71.        ],
       [ 0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        , 80.        ],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        , 16.        ],
       [ 0.83333333,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        , 83.        ],
       [ 0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        , 81.        ],
       [ 0.33333333,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        , 55.        ],
       [ 0.16666667,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        , 14.        ],
       [ 0.16666667,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        , 65.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , 64.        ],
       [ 0.16666667,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , 22.        ],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        , 51.        ],
       [ 0.33333333,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        , 13.        ],
       [ 0.5       ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        , 19.        ],
       [        nan,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        , 82.        ],
       [ 0.16666667,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        , 60.        ],
       [ 0.66666667,  0.        ,  1.        ,  0.        ,  0.        ,
         1.        , 74.        ],
       [ 0.33333333,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        , 11.        ],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        , 51.        ],
       [ 0.66666667,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        , 82.        ],
       [ 1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , 12.        ],
       [ 0.5       ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        , 14.        ],
       [ 0.83333333,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        , 60.        ],
       [ 1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , 18.        ],
       [ 0.33333333,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        , 80.        ],
       [ 1.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        , 75.        ],
       [ 0.33333333,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        , 47.        ],
       [ 0.66666667,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , 69.        ],
       [ 0.5       ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        , 83.        ],
       [ 0.5       ,  0.        ,  1.        ,  1.        ,  0.        ,
         0.        , 42.        ],
       [ 0.66666667,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        , 49.        ],
       [ 0.66666667,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        , 82.        ],
       [ 0.83333333,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        , 69.        ],
       [ 0.5       ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        , 47.        ],
       [ 0.33333333,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        , 11.        ],
       [ 0.33333333,  0.        ,  1.        ,  1.        ,  0.        ,
         0.        , 27.        ],
       [        nan,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        , 34.        ],
       [        nan,  1.        ,  1.        ,  0.        ,  1.        ,
         0.        , 79.        ],
       [        nan,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        , 20.        ],
       [ 0.33333333,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        , 27.        ],
       [ 0.5       ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        , 68.        ],
       [ 0.5       ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        , 34.        ],
       [ 0.16666667,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        , 49.        ],
       [ 0.5       ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        , 49.        ],
       [ 0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        , 69.        ],
       [ 0.66666667,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        ,  5.        ],
       [        nan,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        , 75.        ],
       [ 0.83333333,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        , 73.        ],
       [        nan,  0.        ,  1.        ,  0.        ,  0.        ,
         1.        , 23.        ],
       [ 0.66666667,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        , 64.        ],
       [ 1.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        , 34.        ],
       [ 0.33333333,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        , 19.        ],
       [ 0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        , 10.        ],
       [ 0.        ,  0.        ,  1.        ,  1.        ,  0.        ,
         0.        , 83.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        , 31.        ],
       [        nan,  1.        ,  1.        ,  0.        ,  1.        ,
         0.        , 71.        ],
       [ 0.16666667,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        , 66.        ],
       [ 0.66666667,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        , 33.        ],
       [ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        , 40.        ],
       [ 0.5       ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , 20.        ],
       [ 0.83333333,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        , 48.        ],
       [ 0.33333333,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        , 10.        ],
       [ 0.5       ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        , 65.        ],
       [ 0.83333333,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , 16.        ],
       [ 0.5       ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        , 51.        ],
       [        nan,  0.        ,  1.        ,  1.        ,  0.        ,
         0.        , 38.        ],
       [ 0.5       ,  0.        ,  1.        ,  1.        ,  0.        ,
         0.        , 15.        ],
       [ 0.5       ,  0.        ,  1.        ,  1.        ,  0.        ,
         0.        , 19.        ],
       [ 1.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        , 56.        ]])

In [22]:
transformer.fit_transform(x_test)

array([[ 0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  5.        ],
       [ 0.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        , 73.        ],
       [ 0.33333333,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        , 19.        ],
       [ 0.66666667,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        , 24.        ],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         1.        , 44.        ],
       [ 0.33333333,  0.        ,  1.        ,  1.        ,  0.        ,
         0.        , 27.        ],
       [ 0.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        , 24.        ],
       [ 0.83333333,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        , 50.        ],
       [ 0.83333333,  1.        ,  1.        ,  0.        ,  1.        ,
         0.        , 70.        ],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         1.        , 42.        ],
       [ 0.16666667,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        , 59.        ],
       [ 0.5       ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ,  8.        ],
       [ 1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        , 17.        ],
       [ 0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        , 12.        ],
       [ 0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         1.        , 23.        ],
       [ 0.5       ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        , 81.        ],
       [ 0.16666667,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        , 25.        ],
       [        nan,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        , 42.        ],
       [ 0.33333333,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ,  5.        ],
       [ 0.        ,  1.        ,  1.        ,  0.        ,  1.        ,
         0.        , 34.        ]])