In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("cars.csv")
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [4]:
df["owner"].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [7]:
x = df.drop(columns="selling_price")
y = df["selling_price"]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [10]:
x

        brand  km_driven    fuel                 owner
0      Maruti     145500  Diesel           First Owner
1       Skoda     120000  Diesel          Second Owner
2       Honda     140000  Petrol           Third Owner
3     Hyundai     127000  Diesel           First Owner
4      Maruti     120000  Petrol           First Owner
...       ...        ...     ...                   ...
8123  Hyundai     110000  Petrol           First Owner
8124  Hyundai     119000  Diesel  Fourth & Above Owner
8125   Maruti     120000  Diesel           First Owner
8126     Tata      25000  Diesel           First Owner
8127     Tata      25000  Diesel           First Owner

[8128 rows x 4 columns]

In [11]:
y

0       450000
1       370000
2       158000
3       225000
4       130000
         ...
8123    320000
8124    135000
8125    382000
8126    290000
8127    290000
Name: selling_price, Length: 8128, dtype: int64

# OneHot Encoding

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
ohe = OneHotEncoder(drop="first",sparse_output=False,dtype=np.int32)

In [19]:
x_train_new = ohe.fit_transform(x_train[["fuel" , "owner"]])

In [21]:
x_train_new

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 1],
       [1, 0, 0, ..., 1, 0, 0]], dtype=int32)

In [23]:
x_test_new = ohe.fit_transform(x_train[["fuel" , "owner"]])

In [25]:
x_train_new.shape

(6502, 7)

# MOst Frequent Categories

In [27]:
counts = df["brand"].value_counts()

In [28]:
counts

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [32]:
df["brand"].nunique()
threshold = 1000

In [33]:
repl = counts[counts <= threshold].index

In [35]:
df = df[df["brand"].isin(repl)]

In [36]:
df.head()

      brand  km_driven    fuel         owner  selling_price
1     Skoda     120000  Diesel  Second Owner         370000
2     Honda     140000  Petrol   Third Owner         158000
8    Toyota      90000  Diesel   First Owner         350000
9      Ford     169000  Diesel   First Owner         200000
10  Renault      68000  Diesel  Second Owner         500000

In [37]:
df["brand"].value_counts()

brand
Mahindra         772
Tata             734
Toyota           488
Honda            467
Ford             397
Chevrolet        230
Renault          228
Volkswagen       186
BMW              120
Skoda            105
Nissan            81
Jaguar            71
Volvo             67
Datsun            65
Mercedes-Benz     54
Fiat              47
Audi              40
Lexus             34
Jeep              31
Mitsubishi        14
Land               6
Force              6
Isuzu              5
Ambassador         4
Kia                4
MG                 3
Daewoo             3
Ashok              1
Opel               1
Peugeot            1
Name: count, dtype: int64